
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900');
@import "partials/color";


// basic element
p {
    font-family: 'Raleway';
}
a {
    font-family: 'Raleway';
}
li {
    font-family: 'Raleway';

}
//hero section
#hero {
    background: #F5F5F5;
    .hamburger-icon {
        cursor: pointer;
        &:hover {
            color: #624735;
        }
    }
    .exa-hero-logo {
        width: 300px;
        height: 150px;
    }
    h1 {
        font-size: 3.3rem;
        font-family: "Mrs Sheppards";
        color: #573A2F;
    }
    .price {
        position: absolute;
        top: 70px;
        left: 70px;
        background: rgba(87, 58, 47,0.9); 
        color: #fff;
        border-radius: 50%;
        padding:20px;
        // border:1px solid #573A2F;
    }
    .exa-hero-left-heading {
        padding: 15px 0 0 0;
        margin-bottom: 0;
        color: #573A2F;
    }
    .heading-line {
        margin: -5px 50px 15px 135px;
        padding-top: 0;
    }

    .col-md-8 {
        background: rgb(167, 167, 167);
        background: linear-gradient(90deg, rgba(167, 167, 167,0.1) 55%, rgba(167, 167, 167,0.01) 45%);
        .owl-item {
            padding:60px;
        }
    }
    .btn-success {
        background: #573A2F;
        border: 1px solid #573A2F;
        border-radius: 0;
        color: #fff;
        margin: 30px 0 60px;
        &:hover {
            background: #fff;
            color: #573A2F;
        }
    }

    ul {
        padding-left: 0px;
        li{
        display: inline;
        text-decoration: none;
        color: lighten(#573A2F, 25%);
        padding-right: 10px; 
      }
    }
    hr {
        color: #573A2F;
    }
    

    .owl-dots {
        background: rgba(167, 167, 167, 0.2);;
        margin: 0 50px; 
        position: absolute;
        padding: 10px 0;
        right: -65px;
        top:400px;
        .owl-dot {
            display: block!important;
            padding: 0 26px;
            span {
                width: inherit;
                height: inherit;
                background-color: transparent;
                padding: 5px;
                margin: 2px;
                color: #573A2F;
                border-bottom: 1px solid #dfd3ce;
                border-radius: 0;
                
            }
        }
    }
    .owl-theme .owl-nav  {
        background: transparent;
        color: #624735;
        text-decoration: none;
        position: absolute;
        top: 390px;
        right: 70px;
        }

    #counter {
        position: absolute;
        top: 80px;
        font-size: 150px;
        z-index: 99;
        right: 80px;
        color:#eceaea;
        font-family: "Open Sans";
    }

    @media (min-width: 768px){
        .container-fluid {
            padding-left: 104px;
        }
      }
        
}

//pricing section
#pricing{
    background-color: lighten($title-color,50%);
    .heading-title{
        padding-top: 30px;
        h2 {
            img {
                height:38px;
                width: 38px;
            }
            span {
                border-bottom: 1px solid #CDCDCD;
                color: #573A2F;
            }
        }
        
    }
    .exa-price-rel {
        position: relative;
    }
    .card-deck{
        .card{
            border:0;
            border-radius: 0;
            -webkit-box-shadow: 3px 4px 51px -5px rgba(0,0,0,0.1);
            -moz-box-shadow: 3px 4px 51px -5px rgba(0,0,0,0.1);
            box-shadow: 3px 4px 51px -5px rgba(0,0,0,0.1);
            
            ul{
                 
                position: relative;
                z-index : 1;
               .exa-li-sty:before {
                    content : "";
                    position: absolute;
                    left    : 125px;
                    bottom  : 0;
                    height  : 1px;
                    width   : 50%;  /* or 100px */
                    border-bottom:1px solid #CDCDCD;
                }
                li{
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    padding-bottom: 0;
                    border-bottom: 1px solid #F8F8F8;
                    font-size: 18px;
                    text-transform: lowercase;
                    color: #573A2F;
                    .badge-primary {
                        background: #fff;
                        color: #573A2F;
                    }
                }
                p{
                    padding: 0 20px 0 20px;
                    font-size: 14px;
                    color: #CDCDCD;
                }
            }
        }
    }

@media (min-width: 768px){
    padding-bottom: 120px;
    .title-p {
        padding:20px 150px 20px;
        color: #573A2F;
    }

    .card-deck{
        position: absolute;
        top: 224px;
        padding-right: 35px;
        padding-left: 20px;
    }
 }

}

//scheduling section
#scheduling {
    background: url('../images/Mask Group 9.png') no-repeat center center;
    background-size: cover;
    background-color: #F5F5F5;
    padding-top: 50px;
    .exa-rt-img-sch{
        padding: 0 30px 20px; 
    }
    .exa-rel-sch{
        position: relative;
        img {
            padding: 30px 30px 30px 20px;
        }
    }
    .exa-abs-sch {
        position: absolute;
        left:162px;
        top: 44px;
        z-index: 99;
        font-size: 30px;
        color: #624735;
    }
    .shedule-chart {
       
        padding-top: 35px;
        .list-group {
            background-color: rgba(255, 255, 255, 0);
        }
        ul {
            background-color: rgba(255, 255, 255, 0);
            position: relative;
            z-index : 1;
            .exa-li-sch:before {
                content : "";
                position: absolute;
                left    : 115px;
                bottom  : 0;
                height  : 1px;
                width   : 72%;  /* or 100px */
                border-bottom:1px solid #A7A7A7;
            }
            li {
                background-color: rgba(255, 255, 255, 0);
                border-top: 0;
                border-right: 0;
                border-left: 0;
                padding-top: 20px;
                padding-bottom: 0;
                border-bottom: 0px;
                font-size: 18px;
                text-transform: lowercase;
                color: #573A2F;
                .badge-primary {
                    background-color: rgba(255, 255, 255, 0);
                    color: #573A2F;
                    padding-right: 15px;
                }
            }
            
        }
    }
    @media (min-width: 768px){ 
        padding-top: 250px;
    }
}

//testimonial
#testimonial {
    background: url('../images/Image 20.png') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: auto;
    .heading-title-tesmoni {
        padding-top: 80px;
        h2 {
            color: #573A2F;
        }
    }
    .client-img {
        width: 150px;
        margin: 50px auto 30px auto;
        border-radius: 50%;
    }
    .exa-carousel-item{
        margin: 20px 90px 0px; 
    }

    blockquote {
        font-size: 18px;
        text-align: justify;
        }
    .owl-stage-outer {
        position: relative;
    }
    .owl-theme .owl-dots, .owl-theme .owl-nav {
            text-align: left; 
            position: absolute;
            top:480px;
            left: 0;
        -webkit-tap-highlight-color: transparent;
    }
    .carousel-bottom-line {
        margin: -78px 200px 10px 135px;
        padding-top: 10px;
    }
    
    @media (min-width: 768px){
        .heading-title-tesmoni {
            padding-top: 80px;
            h2 {
                color: #573A2F;
            }
            p {
                padding:20px 230px 20px 150px;
                color: #573A2F;
            }
        }

    }

}

//subscribe section 
#subscribe{
    
    background: url('../images/subscribe-bg.jpg') no-repeat center center;
    background-size: cover;
        h2 {
            color: #573A2F;
        }
        p {
            padding:20px 50px 20px;
            color: #573A2F;
        }

        .form-group {
            padding: 0 50px;
        }
       
        .form-control {
            border-radius: 1.75rem;
            position: relative;
            padding: 10px 0;
            border: 2px solid #573A2F;
        }

        input {
           
             background: rgba(255, 255, 255, 0.2);
             margin-left: 20px;
             padding-right: 20px;
        }

        .btn-success {
            
            border-radius: 1.75rem;
            position: absolute;
            right: 0;
            padding: 10px 50px;
            background: #573A2F;
            border: 1px solid #573A2F;
            font-size: 18px;
            font-family: "Raleway";

        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #573A2F;
            padding: 10px 30px;
            font-size: 18px;
            font-family: "Raleway";
          }
          ::-moz-placeholder { /* Firefox 19+ */
            color: #CDCDCD;
            padding: 0 30px;
          }
          :-ms-input-placeholder { /* IE 10+ */
            color: #CDCDCD;
            padding: 0 30px;
          }
          :-moz-placeholder { /* Firefox 18- */
            color: #CDCDCD;
            padding: 0 30px;
          }

          @media (min-width: 768px){
            padding: 50px 150px 80px;
             p {
                padding:20px 80px 20px;
                color: #573A2F;
            }
          }

}

//footer section 
#footer{
    padding-top: 100px;

    h3 {
        color: #573A2F;
        font-size: 28px;
        text-transform: lowercase;
        font-family: "Open Sans"
    }
    p {
        color: lighhten(#573A2F,10%);// #573A2F;
        font-size: 18px;
    
    }
    .exa-footer-img {
        width: 250px;
        height: 100px;;
    }

    .info {
        .list-group-item {
            border: 0;
            color: #573A2F;
            padding-left: 0;
            padding-bottom: 0;
            font-weight: bold;
            .fa {
                color: #573A2F;
                padding: 0 20px 0 0;
            }
        }
    }

    .exa-cont-form {
        background: url('../images/contact.jpg') center;
        background-size: cover;
        padding: 30px 20px;
    }
    .form-control {
        border-radius: 1.75rem;
        border: 1px solid #573A2F;
    }
    .btn-success {
        
        border-radius: 1.75rem;
        background: #573A2F;
        border: 1px solid #573A2F;
        color: #fff;
        padding-right: 20px;
        padding-left: 20px;

    }
    input {
        background: rgba(255, 255, 255, 0.3);

    }
    textarea {
        background: rgba(255, 255, 255, 0.3);
    }
   
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #573A2F;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #573A2F;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #573A2F;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: #573A2F;
      }

      @media (min-width: 768px){
        .container-fluid {
            padding-left: 104px;
        }
        .contact-form {
            padding-right: 0;
        }
      }

}

#footer-bottom {
    background: rgba(219, 216, 228,0.2);
    p {
        a {
            color:#573A2F;
        }
    }
}


