@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,900");
/*----------------color Variation------------------*/
p {
  font-family: 'Raleway'; }

a {
  font-family: 'Raleway'; }

li {
  font-family: 'Raleway'; }

#hero {
  background: #F5F5F5; }
  #hero .hamburger-icon {
    cursor: pointer; }
    #hero .hamburger-icon:hover {
      color: #624735; }
  #hero .exa-hero-logo {
    width: 300px;
    height: 150px; }
  #hero h1 {
    font-size: 3.3rem;
    font-family: "Mrs Sheppards";
    color: #573A2F; }
  #hero .price {
    position: absolute;
    top: 70px;
    left: 70px;
    background: rgba(87, 58, 47, 0.9);
    color: #fff;
    border-radius: 50%;
    padding: 20px; }
  #hero .exa-hero-left-heading {
    padding: 15px 0 0 0;
    margin-bottom: 0;
    color: #573A2F; }
  #hero .heading-line {
    margin: -5px 50px 15px 135px;
    padding-top: 0; }
  #hero .col-md-8 {
    background: #a7a7a7;
    background: linear-gradient(90deg, rgba(167, 167, 167, 0.1) 55%, rgba(167, 167, 167, 0.01) 45%); }
    #hero .col-md-8 .owl-item {
      padding: 60px; }
  #hero .btn-success {
    background: #573A2F;
    border: 1px solid #573A2F;
    border-radius: 0;
    color: #fff;
    margin: 30px 0 60px; }
    #hero .btn-success:hover {
      background: #fff;
      color: #573A2F; }
  #hero ul {
    padding-left: 0px; }
    #hero ul li {
      display: inline;
      text-decoration: none;
      color: #a8725e;
      padding-right: 10px; }
  #hero hr {
    color: #573A2F; }
  #hero .owl-dots {
    background: rgba(167, 167, 167, 0.2);
    margin: 0 50px;
    position: absolute;
    padding: 10px 0;
    right: -65px;
    top: 400px; }
    #hero .owl-dots .owl-dot {
      display: block !important;
      padding: 0 26px; }
      #hero .owl-dots .owl-dot span {
        width: inherit;
        height: inherit;
        background-color: transparent;
        padding: 5px;
        margin: 2px;
        color: #573A2F;
        border-bottom: 1px solid #dfd3ce;
        border-radius: 0; }
  #hero .owl-theme .owl-nav {
    background: transparent;
    color: #624735;
    text-decoration: none;
    position: absolute;
    top: 390px;
    right: 70px; }
  #hero #counter {
    position: absolute;
    top: 80px;
    font-size: 150px;
    z-index: 99;
    right: 80px;
    color: #eceaea;
    font-family: "Open Sans"; }
  @media (min-width: 768px) {
    #hero .container-fluid {
      padding-left: 104px; } }

#pricing {
  background-color: white; }
  #pricing .heading-title {
    padding-top: 30px; }
    #pricing .heading-title h2 img {
      height: 38px;
      width: 38px; }
    #pricing .heading-title h2 span {
      border-bottom: 1px solid #CDCDCD;
      color: #573A2F; }
  #pricing .exa-price-rel {
    position: relative; }
  #pricing .card-deck .card {
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 3px 4px 51px -5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 4px 51px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 4px 51px -5px rgba(0, 0, 0, 0.1); }
    #pricing .card-deck .card ul {
      position: relative;
      z-index: 1; }
      #pricing .card-deck .card ul .exa-li-sty:before {
        content: "";
        position: absolute;
        left: 125px;
        bottom: 0;
        height: 1px;
        width: 50%;
        /* or 100px */
        border-bottom: 1px solid #CDCDCD; }
      #pricing .card-deck .card ul li {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding-bottom: 0;
        border-bottom: 1px solid #F8F8F8;
        font-size: 18px;
        text-transform: lowercase;
        color: #573A2F; }
        #pricing .card-deck .card ul li .badge-primary {
          background: #fff;
          color: #573A2F; }
      #pricing .card-deck .card ul p {
        padding: 0 20px 0 20px;
        font-size: 14px;
        color: #CDCDCD; }
  @media (min-width: 768px) {
    #pricing {
      padding-bottom: 120px; }
      #pricing .title-p {
        padding: 20px 150px 20px;
        color: #573A2F; }
      #pricing .card-deck {
        position: absolute;
        top: 224px;
        padding-right: 35px;
        padding-left: 20px; } }

#scheduling {
  background: url("../images/Mask Group 9.png") no-repeat center center;
  background-size: cover;
  background-color: #F5F5F5;
  padding-top: 50px; }
  #scheduling .exa-rt-img-sch {
    padding: 0 30px 20px; }
  #scheduling .exa-rel-sch {
    position: relative; }
    #scheduling .exa-rel-sch img {
      padding: 30px 30px 30px 20px; }
  #scheduling .exa-abs-sch {
    position: absolute;
    left: 162px;
    top: 44px;
    z-index: 99;
    font-size: 30px;
    color: #624735; }
  #scheduling .shedule-chart {
    padding-top: 35px; }
    #scheduling .shedule-chart .list-group {
      background-color: rgba(255, 255, 255, 0); }
    #scheduling .shedule-chart ul {
      background-color: rgba(255, 255, 255, 0);
      position: relative;
      z-index: 1; }
      #scheduling .shedule-chart ul .exa-li-sch:before {
        content: "";
        position: absolute;
        left: 115px;
        bottom: 0;
        height: 1px;
        width: 72%;
        /* or 100px */
        border-bottom: 1px solid #A7A7A7; }
      #scheduling .shedule-chart ul li {
        background-color: rgba(255, 255, 255, 0);
        border-top: 0;
        border-right: 0;
        border-left: 0;
        padding-top: 20px;
        padding-bottom: 0;
        border-bottom: 0px;
        font-size: 18px;
        text-transform: lowercase;
        color: #573A2F; }
        #scheduling .shedule-chart ul li .badge-primary {
          background-color: rgba(255, 255, 255, 0);
          color: #573A2F;
          padding-right: 15px; }
  @media (min-width: 768px) {
    #scheduling {
      padding-top: 250px; } }

#testimonial {
  background: url("../images/Image 20.png") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: auto; }
  #testimonial .heading-title-tesmoni {
    padding-top: 80px; }
    #testimonial .heading-title-tesmoni h2 {
      color: #573A2F; }
  #testimonial .client-img {
    width: 150px;
    margin: 50px auto 30px auto;
    border-radius: 50%; }
  #testimonial .exa-carousel-item {
    margin: 20px 90px 0px; }
  #testimonial blockquote {
    font-size: 18px;
    text-align: justify; }
  #testimonial .owl-stage-outer {
    position: relative; }
  #testimonial .owl-theme .owl-dots, #testimonial .owl-theme .owl-nav {
    text-align: left;
    position: absolute;
    top: 480px;
    left: 0;
    -webkit-tap-highlight-color: transparent; }
  #testimonial .carousel-bottom-line {
    margin: -78px 200px 10px 135px;
    padding-top: 10px; }
  @media (min-width: 768px) {
    #testimonial .heading-title-tesmoni {
      padding-top: 80px; }
      #testimonial .heading-title-tesmoni h2 {
        color: #573A2F; }
      #testimonial .heading-title-tesmoni p {
        padding: 20px 230px 20px 150px;
        color: #573A2F; } }

#subscribe {
  background: url("../images/subscribe-bg.jpg") no-repeat center center;
  background-size: cover; }
  #subscribe h2 {
    color: #573A2F; }
  #subscribe p {
    padding: 20px 50px 20px;
    color: #573A2F; }
  #subscribe .form-group {
    padding: 0 50px; }
  #subscribe .form-control {
    border-radius: 1.75rem;
    position: relative;
    padding: 10px 0;
    border: 2px solid #573A2F; }
  #subscribe input {
    background: rgba(255, 255, 255, 0.2);
    margin-left: 20px;
    padding-right: 20px; }
  #subscribe .btn-success {
    border-radius: 1.75rem;
    position: absolute;
    right: 0;
    padding: 10px 50px;
    background: #573A2F;
    border: 1px solid #573A2F;
    font-size: 18px;
    font-family: "Raleway"; }
  #subscribe ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #573A2F;
    padding: 10px 30px;
    font-size: 18px;
    font-family: "Raleway"; }
  #subscribe ::-moz-placeholder {
    /* Firefox 19+ */
    color: #CDCDCD;
    padding: 0 30px; }
  #subscribe :-ms-input-placeholder {
    /* IE 10+ */
    color: #CDCDCD;
    padding: 0 30px; }
  #subscribe :-moz-placeholder {
    /* Firefox 18- */
    color: #CDCDCD;
    padding: 0 30px; }
  @media (min-width: 768px) {
    #subscribe {
      padding: 50px 150px 80px; }
      #subscribe p {
        padding: 20px 80px 20px;
        color: #573A2F; } }

#footer {
  padding-top: 100px; }
  #footer h3 {
    color: #573A2F;
    font-size: 28px;
    text-transform: lowercase;
    font-family: "Open Sans"; }
  #footer p {
    color: lighhten(#573A2F, 10%);
    font-size: 18px; }
  #footer .exa-footer-img {
    width: 250px;
    height: 100px; }
  #footer .info .list-group-item {
    border: 0;
    color: #573A2F;
    padding-left: 0;
    padding-bottom: 0;
    font-weight: bold; }
    #footer .info .list-group-item .fa {
      color: #573A2F;
      padding: 0 20px 0 0; }
  #footer .exa-cont-form {
    background: url("../images/contact.jpg") center;
    background-size: cover;
    padding: 30px 20px; }
  #footer .form-control {
    border-radius: 1.75rem;
    border: 1px solid #573A2F; }
  #footer .btn-success {
    border-radius: 1.75rem;
    background: #573A2F;
    border: 1px solid #573A2F;
    color: #fff;
    padding-right: 20px;
    padding-left: 20px; }
  #footer input {
    background: rgba(255, 255, 255, 0.3); }
  #footer textarea {
    background: rgba(255, 255, 255, 0.3); }
  #footer ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #573A2F; }
  #footer ::-moz-placeholder {
    /* Firefox 19+ */
    color: #573A2F; }
  #footer :-ms-input-placeholder {
    /* IE 10+ */
    color: #573A2F; }
  #footer :-moz-placeholder {
    /* Firefox 18- */
    color: #573A2F; }
  @media (min-width: 768px) {
    #footer .container-fluid {
      padding-left: 104px; }
    #footer .contact-form {
      padding-right: 0; } }

#footer-bottom {
  background: rgba(219, 216, 228, 0.2); }
  #footer-bottom p a {
    color: #573A2F; }

/*# sourceMappingURL=main.css.map */
